[Unit]
Description=Cuckoo Web Service
Requires=cuckoo.service
After=cuckoo.service

[Service]
User=cuckoo
RemainAfterExit=yes
ExecStart=/home/cuckoo/cuckoo/bin/cuckoo web -H 0.0.0.0 -p 8000
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target